<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        #date {
            display: inline-block;
            padding: 6px;
            background-color: black;
            color: white
        }
    </style>
</head>

<body>
    <!-- jinja2 -->
    <h1>Hello, {{name}}</h1>
    <span>
        <p id="date">
            {{date}}
        </p>
    </span>
</body>

</html>