<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股市首頁</title>
    <style>
        body {
            background-color: antiquewhite;
        }

        #container {
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }


        li {
            width: 200px;
            color: whitesmoke;
            background-color: cadetblue;
            display: inline-block;
            padding: 6px;
            margin: 6px;
            border-radius: 6px;

        }
    </style>
</head>

<body>
    <div id="container">
        <h1>亞股市場資訊</h1>
        <p>{{date}}</p>
        <!-- {{stocks}} -->
        <!-- jinja2語法 -->
        {% for stock in stocks %}
        <li>{{stock["分類"]}} {{stock["指數"]}}</li>
        {% endfor %}

        <p><a href="/">首頁</a></p>
    </div>

</body>

</html>